version: '3.9'
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile.prod
    restart: unless-stopped
    env_file:
      - ./frontend/.env
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.canvas-frontend.rule=Host(`canvas.berguecio.cl`)"
      - "traefik.http.routers.canvas-frontend.entrypoints=websecure"
      - "traefik.http.routers.canvas-frontend.tls=true"
      - "traefik.http.services.canvas-frontend.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy"
      - "monitoring.url=https://canvas.berguecio.cl"
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile.prod
    restart: unless-stopped
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
    command: >
      sh -c "
        npx prisma migrate deploy &&
        npm start
      "
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.canvas-backend.rule=Host(`canvas.berguecio.cl`) && PathPrefix(`/api`)"
      - "traefik.http.routers.canvas-backend.entrypoints=websecure"
      - "traefik.http.routers.canvas-backend.tls=true"
      - "traefik.http.services.canvas-backend.loadbalancer.server.port=4000"
      - "traefik.docker.network=proxy"
  postgres:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: minidb
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - proxy

volumes:
  pgdata:

networks:
  proxy:
    external: true